mixin buttonBorder(tag)
  #{tag}.c-button-border.js-scroll-item.js-hover(
    href = attributes.href,
    class = attributes.className
    )
    span.c-button-border__label
      block
    span.c-button-border__line-v
    span.c-button-border__line-h

mixin buttonBorderV(tag)
  #{tag}.c-button-border-v.js-scroll-item.js-hover(
    href = attributes.href,
    class = attributes.className
    )
    span.c-button-border-v__label
      block
    span.c-button-border-v__line-v
    span.c-button-border-v__line-h

mixin buttonReel(tag)
  #{tag}.c-button-reel.js-scroll-item.js-hover(
    href = attributes.href,
    class = attributes.className
    )
    span.c-button-reel__label
      block
    span.c-button-reel__label.c-button-reel__label--over
      block
    span.c-button-reel__line-v
    span.c-button-reel__line-h

mixin textLinkStrike(tag)
  #{tag}.c-text-link-strike.js-hover(
    href = attributes.href,
    class = attributes.className
    )
    block

mixin textLinkUnderline(tag)
  #{tag}.c-text-link-underline.js-hover(
    href = attributes.href,
    class = attributes.className
    )
    block
