mixin buttonBorder(tag)
  -
    var classList = {
      parent: '',
      label: '',
      lineV: '',
      lineH: ''
    };
    if (attributes.className) classList.parent += attributes.className;
    if (attributes.modifier) {
      if (classList.parent.length > 0) classList.parent += ' ';
      for (var i = 0; i < attributes.modifier.length; i++) {
        if (i > 0) {
          classList.parent += ' ';
          classList.label += ' ';
          classList.lineV += ' ';
          classList.lineH += ' ';
        }
        classList.parent += `c-button-border--${attributes.modifier[i]}`;
        classList.label += `c-button-border__label--${attributes.modifier[i]}`;
        classList.lineV += `c-button-border__line-v--${attributes.modifier[i]}`;
        classList.lineH += `c-button-border__line-h--${attributes.modifier[i]}`;
      }
    }
  #{tag}.c-button-border(
    href = attributes.href,
    target = attributes.target,
    type = attributes.type,
    class = classList.parent
    )
    span.c-button-border__label(
      class = classList.label
      )
      block
    span.c-button-border__line-v(
      class = classList.lineV
      )
    span.c-button-border__line-h(
      class = classList.lineH
      )

mixin buttonBorderV(tag)
  -
    var classList = {
      parent: '',
      label: '',
      lineV: '',
      lineH: ''
    };
    if (attributes.className) classList.parent += attributes.className;
    if (attributes.modifier) {
      if (classList.parent.length > 0) classList.parent += ' ';
      for (var i = 0; i < attributes.modifier.length; i++) {
        if (i > 0) {
          classList.parent += ' ';
          classList.label += ' ';
          classList.lineV += ' ';
          classList.lineH += ' ';
        }
        classList.parent += `c-button-border-v--${attributes.modifier[i]}`;
        classList.label += `c-button-border-v__label--${attributes.modifier[i]}`;
        classList.lineV += `c-button-border-v__line-v--${attributes.modifier[i]}`;
        classList.lineH += `c-button-border-v__line-h--${attributes.modifier[i]}`;
      }
    }
  #{tag}.c-button-border-v(
    href = attributes.href,
    target = attributes.target,
    type = attributes.type,
    class = classList.parent
    )
    span.c-button-border-v__label(
      class = classList.label
      )
      block
    span.c-button-border-v__line-v(
      class = classList.lineV
      )
    span.c-button-border-v__line-h(
      class = classList.lineH
      )

mixin buttonReel(tag)
  -
    var classList = {
      parent: '',
      label: '',
      lineV: '',
      lineH: ''
    };
    if (attributes.className) classList.parent += attributes.className;
    if (attributes.modifier) {
      if (classList.parent.length > 0) classList.parent += ' ';
      for (var i = 0; i < attributes.modifier.length; i++) {
        if (i > 0) {
          classList.parent += ' ';
          classList.label += ' ';
          classList.lineV += ' ';
          classList.lineH += ' ';
        }
        classList.parent += `c-button-reel--${attributes.modifier[i]}`;
        classList.label += `c-button-reel__label--${attributes.modifier[i]}`;
        classList.lineV += `c-button-reel__line-v--${attributes.modifier[i]}`;
        classList.lineH += `c-button-reel__line-h--${attributes.modifier[i]}`;
      }
    }
  #{tag}.c-button-reel(
    href = attributes.href,
    target = attributes.target,
    type = attributes.type,
    class = classList.parent
    )
    span.c-button-reel__label(
      class = classList.label
      )
      block
    span.c-button-reel__label.c-button-reel__label--over(
      class = classList.label
      )
      block
    span.c-button-reel__line-v(
      class = classList.lineV
      )
    span.c-button-reel__line-h(
      class = classList.lineH
      )

mixin buttonThrough(tag)
  -
    var classList = {
      parent: '',
      label: '',
      overLabel: '',
      lineV: '',
      lineH: ''
    };
    if (attributes.className) classList.parent += attributes.className;
    if (attributes.modifier) {
      if (classList.parent.length > 0) classList.parent += ' ';
      for (var i = 0; i < attributes.modifier.length; i++) {
        if (i > 0) {
          classList.parent += ' ';
          classList.label += ' ';
          classList.overLabel += ' ';
          classList.lineV += ' ';
          classList.lineH += ' ';
        }
        classList.parent += `c-button-through--${attributes.modifier[i]}`;
        classList.label += `c-button-through__label--${attributes.modifier[i]}`;
        classList.overLabel += `c-button-through__label--${attributes.modifier[i]}`;
        classList.lineV += `c-button-through__line-v--${attributes.modifier[i]}`;
        classList.lineH += `c-button-through__line-h--${attributes.modifier[i]}`;
      }
    }
  #{tag}.c-button-through(
    href = attributes.href,
    target = attributes.target,
    type = attributes.type,
    class = classList.parent
    )
    span.c-button-through__label(
      class = classList.label
      )
      block
    span.c-button-through__over-label(
      class = classList.over-label
      )
      span.c-button-through__over-label-in
        block
    span.c-button-through__line-v(
      class = classList.lineV
      )
    span.c-button-through__line-h(
      class = classList.lineH
      )

mixin textLinkStrike(tag)
  #{tag}.c-text-link-strike(
    href = attributes.href,
    target = attributes.target,
    class = attributes.className
    )
    block

mixin textLinkUnderline(tag)
  #{tag}.c-text-link-underline(
    href = attributes.href,
    target = attributes.target,
    class = attributes.className
    )
    block

mixin textLinkThroughLine(tag)
  #{tag}.c-text-link-through-line(
    href = attributes.href,
    target = attributes.target,
    class = attributes.className
    )
    block

mixin textLinkThrough(tag)
  #{tag}.c-text-link-through(
    href = attributes.href,
    target = attributes.target,
    class = attributes.className
    )
    span.c-text-link-through__label
      block
    span.c-text-link-through__over-label
      span.c-text-link-through__over-label-in
        block

mixin playVideo(tag)
  #{tag}.c-play-video(
    href = attributes.href,
    target = attributes.target,
    class = attributes.className,
    )
    svg.c-play-video__icon(
      width="30" height="30" viewBox="0 0 30 30"
      )
      path(d="M30 15L4 0v30")

mixin playVideoBorder(tag)
  #{tag}.c-play-video-border(
    href = attributes.href,
    target = attributes.target,
    class = attributes.className,
    )
    svg.c-play-video-border__icon(
      width="30" height="30" viewBox="0 0 30 30"
      )
      path(d="M30 15L4 0v30")
